PORT=4000
NODE_ENV=development

FRONTEND_ORIGIN=http://localhost:3000,http://localhost:8080,http://localhost-todo.com

PGHOST=127.0.0.1
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=tododb
